<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://qd.baidupcs.com/file/2aec4051e9f2da4d73aedbd6d631c666?bkt=p2-qd-594&amp;fid=425696842-250528-646832269742755&amp;time=1420710448&amp;sign=FDTAXERLBH-DCb740ccc5511e5e8fedcff06b081203-gOzhNl%2Bu0t5%2BnCW5xehwM6B7jdw%3D&amp;to=qb&amp;fm=Qin,B,U,nc&amp;newver=1&amp;newfm=1&amp;flow_ver=3&amp;sl=81723466&amp;expires=8h&amp;rt=sh&amp;r=430890948&amp;mlogid=1099479561&amp;vuk=425696842&amp;vbdid=1348668645&amp;fin=microBiz.ipa&amp;fn=microBiz.ipa</string>
					<key>New item</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.pujin.microbiz</string>
				<key>bundle-version</key>
				<string>1.2.3</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>微商务</string>
				<key>title</key>
				<string>微商务</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
