<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://qd.baidupcs.com/file/161c2f0cd198ce4212e66a70b8a7f6f2?bkt=p2-qd-594&amp;fid=425696842-250528-1107001804820877&amp;time=1420713673&amp;sign=FDTAXERLBH-DCb740ccc5511e5e8fedcff06b081203-DkkeB9lU%2F2xmp0Jsg9fW5cj2Os4%3D&amp;to=qb&amp;fm=Qin,B,U,nc&amp;newver=1&amp;newfm=1&amp;flow_ver=3&amp;sl=81723466&amp;expires=8h&amp;rt=sh&amp;r=478596852&amp;mlogid=1856504055&amp;vuk=425696842&amp;vbdid=1999419163&amp;fin=microBiz.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.pujin.microbiz</string>
				<key>bundle-version</key>
				<string>1.2.3</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>微商务</string>
				<key>title</key>
				<string>微商务</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
